/* * {
  outline: 1px solid red;
} */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6, button {
  user-select: none;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 3.6rem;
}

h1 strong {
  font-weight: 800;
}

h5 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2em;
}

button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: #08979c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  width: fit-content;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

button:focus {
  outline: none;
}

button:hover {
  background: #13c2c2;
  color: white;
  transition: all 0.1s ease-out;
}

.intro {
  word-break: break-word;
  margin-top: 20vh;
  position: fixed;
  top: 0;
  width: 70%;
  left: 15%;
}

.intro h1 {
  margin-bottom: 6rem;
}

.intro h5 {
  margin-bottom: 0;
}

@media all and (max-width: 600px) {
  .intro {
    margin-top: 5vh;
    width: 100%;
    left: 0;
  }
  .intro h1 {
    margin-top: 6rem;
    font-size: 2rem;
  }
}

.particle-network-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.particle-network-animation::before {
  z-index: -2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}

.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.3333333333s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}

.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.6666666667s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}